body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.g-btn {
  /* width: 90% !important; */
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}

.g-btn>div,
.g-btn>div>svg {
  width: 40px !important;
  height: 38px !important;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ;
  width: 400px;
}

form input{
  width: 94%;
  height: 30px;
  outline: none;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 10px;
}

form button {
  margin: 20px 0;
  background-color: rgb(158, 69, 241);
  color: white;
  border: none;
  font-size: 16px;
}


.toSignup {
  height: 60px;
  width: 460px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}